#facility
  %h2= @facility.name
  #f_attributes
    - unless @facility.image.nil?
      = image_tag "logos/#{@facility.image}.png"
    %h3= link_to "#{@facility.address}",
      "http://maps.google.com/?q=#{@facility.address}"
    %h3= "Phone - #{@facility.number}"
    %h3= link_to_unless @facility.number.nil?, "Website", @facility.website

  - unless @facility.events.empty?
    #event_wrapper
      %strong Events
      %ul
        - @facility.events.sort_by(&:date).each do |e|
          - unless e.date < Date.today
            %li
              %span.date= "%i/%i" % [e.date.month, e.date.day]
              = link_to e.name, event_path(e)
