%h2= @facility.name
%h3= link_to "Address - #{@facility.address}",
  "http://maps.google.com/?q=#{@facility.address}"
%h3= link_to "Phone - #{@facility.number}", "tel://#{@facility.number}"
%h3= link_to_unless @facility.number.nil?, "Website", @facility.website

%strong Events
- @facility.events.each do |event|
  %li= link_to event.name, event_path(event)
