#calendar_container
  #month
    #prev_month
      = link_to "<<", '#'
    = render :partial => 'month'
    #next_month
      = link_to ">>", '#'
  #week
    #previous
      = link_to "<<", '#', :class => 'btn'
    = render :partial => 'week_box'
    #next
      = link_to ">>", '#', :class => 'btn'
