%div#calendar_container
  %div#previous_month
    = link_to "<<", '#', :class => 'btn'
  = render :partial => 'week_box'
  %div#next_month
    = link_to ">>", '#', :class => 'btn'
  %div#rando= link_to "I'm Bored...Let's Party!", "events/#{(rand @count) + 1}", :class => 'btn'
