%h2= @event.name
- if @event.start_time.nil?
  %h3= "#{@event.date.strftime("%h %d %Y")} Starts: TBA"
- else
  %h3= "#{@event.date.strftime("%h %d %Y")} #{@event.start_time.strftime("%R")}"
- if @event.end_time.nil?
  %h3= "#{@event.date.strftime("%h %d %Y")} Ends: TBA"
- else
  %h3= "#{@event.date.strftime("%h %d %Y")} #{@event.start_time.strftime("%R")}"
