%div#main{:data => {:role => "content"}}
  %h3= @event.name

  %ul#attributes{:data => {:role => "listview", :theme => "d"}}
    - unless @event.facility.nil?
      %li= link_to "@ " + @event.facility.name, facility_path(@event.facility)
    %li= ordinalize_date(@event.date) + blank_time(@event.start_time) + " - " + blank_time(@event.end_time)
    - unless @event.admission.nil?
      %li= "Admission #{@event.admission}"
    - unless @event.description.nil?
      %li= @event.description
