#event
  %h2= @event.name
  #time
    %h3= ordinalize_date(@event.date) + " "
    %h3= blank_time(@event.start_time) + " - "
    %h3= blank_time(@event.end_time)

  %div#attributes
    %ul
      - unless @event.facility.nil?
        %li
          Place
          =link_to @event.facility.name, facility_path(@event.facility)
      - unless @event.admission.nil?
        %li 
          Admission
          %span #{@event.admission}
      %li
        Category
        =link_to @event.category, category_path(@event.category)
      - unless @event.address.nil?
        %li 
          Address
          =link_to @event.address, "http://maps.google.com/?q=#{@event.address}"

  %p= @event.description
