%h2= @event.name
- if @event.start_time.blank?
  %h3= "#{@event.date.strftime("%h %d %Y")} Starts: TBA"
- else
  %h3= "#{@event.date.strftime("%h %d %Y")} #{@event.start_time.strftime("%R")}"
- if @event.end_time.blank?
  %h3= "#{@event.date.strftime("%h %d %Y")} Ends: TBA"
- else
  %h3= "#{@event.date.strftime("%h %d %Y")} #{@event.end_time.strftime("%R")}"

%div#attributes
  %ul
    %li= link_to "Category - #{@event.category}", category_path(@event.category)
    - unless @event.address.nil?
      %li= link_to "Address  - #{@event.address}", 
        "http://maps.google.com/?q=#{@event.address}"
    - unless @event.facility.nil?
      %li= link_to "Facility - #{@event.facility.name}", facility_path(@event.facility)
