#calendar_container
  %p#category.heading= @category
  #previous
    = link_to "<<", '#', :class => 'btn'
  = render :partial => 'week_box'
  #next
    = link_to ">>", '#', :class => 'btn'
  #rando= link_to "Give me something to do", 
    "#", 
    :class => 'btn',
    "data-message" => @count

