#calendar_container
  %p#category.heading= @category
  #month
    #prev_month
      = link_to "<<", '#'
    %p#month.heading= @marker.strftime("%B")
    #next_month
      = link_to ">>", '#'
  #week
    #previous
      = link_to "<<", '#', :class => 'btn'
    = render :partial => 'week_box'
    #next
      = link_to ">>", '#', :class => 'btn'
