!!!
%html
  %head
    %title Bloomington Events
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery-1.5.min'
    = csrf_meta_tag
    = yield :head

  %body
    %h1 Bloomington Events
    %div#categories
      %ul
        %li= link_to 'Calendar', '/'
        %li= link_to 'Places', 'facilities'
        %li= link_to 'Categories', categories_path
        -# link_to 'About Us', '#'
    %div#main
      = yield
