!!!
%html
  %head
    %title B-Town Events
    = include_stylesheets :mobile
    = include_javascripts :mobile_libraries, :mobile
    = csrf_meta_tag
    = yield :head

  %body
    %div#content{:data => {:role => "page"}}
      %div{:data => {:role => "header", :theme => 'b'}, :role => {"" => "banner"}}
        %h1 B-Town Events
        = link_to '', '/', {:'data-role' => 'button', :'data-iconpos' => 'notext', :'data-icon' => 'home', :'data-direction' => 'reverse', :class => 'ui-btn-right'}
      = yield
