!!!
%html
  %head
    %title B-Town Events
    = include_stylesheets :main
    = include_javascripts :libraries, :main
    = csrf_meta_tag
    = yield :head

  %body
    %h1= link_to  "B-Town Events ", '/'
    %div#categories
      %ul
        %li= link_to 'Weekly', '/'
        %li= link_to 'Monthly', monthly_path
        %li= link_to 'Places', facilities_path
        %li= link_to 'Categories', categories_path
    %div#main
      = yield
