!!!
%html
  %head
    %title B-Town Events
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag :defaults, 'jquery-1.4.4.min',
      'jquery-ui-1.8.10.custom.min', :cache => true
    = csrf_meta_tag
    = yield :head

  %body
    %h1= link_to  "B-Town Events ", '/'
    %div#categories
      %ul
        %li= link_to 'Weekly', '/'
        %li= link_to 'Monthly', monthly_path
        %li= link_to 'Places', facilities_path
        %li= link_to 'Categories', categories_path
    %div#main
      = yield
