!!!
%html
  %head
    %title Bloomington Events
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :head

  %body
    %h1 Bloomington Events
    %div#categories
      %ul
        %li
          = link_to 'Calendar', '/'
          = link_to 'Places', 'facilities'
          = link_to 'Categories', '#'
          =# link_to 'About Us', '#'
    = yield
